name: Check and Push
on:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  version-check:
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        run: |
          export CURRENT_VERSION=$(curl -s https://services.sonarr.tv/v1/download/phantom-develop?version=3 | jq -r .version)
          echo CURRENT_VERSION=$CURRENT_VERSION
          MATCH="$(curl -s https://registry.hub.docker.com/v1/repositories/itscontained/sonarr/tags | jq -r '.[] | select(.name==env.CURRENT_VERSION) | .name')"
          if [[ -z "$MATCH" ]]
          then
            echo Setting version output for push job
            echo ::set-output name=version::$CURRENT_VERSION
          else
            echo Found existing tag in repo
          fi
  push:
    needs: version-check
    runs-on: ubuntu-latest
    if: needs.version-check.outputs.version
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build . --file Dockerfile --tag ${{ github.repository }}:${{ needs.version-check-outputs.version }}
      - name: Import Secrets
        uses: RichiCoder1/vault-action@v1.0.1
        with:
          url: ${{ secrets.VaultURL }}
          method: approle
          roleId: ${{ secrets.appRoleID }}
          secretId: ${{ secrets.appSecretID }}
          path: kv-v2
          secrets: |
              auth/dockerhubci username | DOCKERHUB_USERNAME ;
              auth/dockerhubci token | DOCKERHUB_TOKEN
      - name: Log into registry
        run: echo ${DOCKERHUB_TOKEN//\"} | docker login -u ${DOCKERHUB_USERNAME//\"} --password-stdin
      - name: Push image
        run: |
          VERSION=${{ needs.version-check-outputs.version }}
          docker tag ${{ github.repository }}:${VERSION} ${{ github.repository }}:latest
          docker push ${{ github.repository }}:${VERSION}
          docker push ${{ github.repository }}:latest
